*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(255, 253, 253);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ec3b0a;
    height: 60px;
    padding: 0 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.nav__brand {
    text-transform: uppercase;
}

.nav__menu {
    top: 60px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

.nav__toggler {
    display: none;
}

.nav__toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: rgb(204, 204, 204);
    transition: 0.3s ease-in;
}


/* Active Class */
.nav__active {
    /* transform: translateX(0%); */
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

/* Toggle Icon Animation */

.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
}

@media screen and (max-width: 768px) {
    .nav {
        flex-direction: row;
        height: 80px;
        padding: 0 100px;
      }
    .nav__toggler {
        display: block;
        cursor: pointer;
    }

    .nav__menu {
        position: fixed;
        top: 7vh;
        right: 0;
        height: 93vh;
        width: 50vw;
        background: rgb(255, 1, 1);
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
      
    }
}
